*{
    padding:0;
    margin: 0 auto;
}

button {
    background-color: rgb(94, 0, 94);
    color:white;
    width:10%;
    padding:10px;
}
input {
    width:50%;
    padding:10px;
    text-align: center;
    background-color: white;
    border:1px solid blue;
    margin-top:30px;
}
.recipes{
    background:linear-gradient( 97deg, lightpink, rgb(156, 108, 156) );
}

.div_recipe{
    width:50%;
}